<!DOCTYPE html>
<html>
    <head>
        <title> Music Records Portal</title>
    </head>
            <body bgcolor="pink";
            <h1><strong><div style="background-color:white";><Font Size="7">Welcome to the Music Records</Font>
            </div></strong></h1>
            <hr>
            <br>
            <!--List of Top Artists-->
            <h2><span style="background-color: lightblue";><Font Size="6" Color="red"><b>Top 5 Artists:</b></Font></span></h2>
            <ol>
                <li><Font Size="5"><i>Arijit Singh</i></Font></li>
                <li><Font Size="5"><i>Shreya Ghoshal</i></Font></li>
                <li><Font Size="5"><i>Sonu Nigam</i></Font></li>
                <li><Font Size="5"><i>Kishore Kumar</i></Font></li>
                <li><Font Size="5"><i>Lata Mangheshkar</i></Font></li>
            </ol>
            <hr>
            <br>
            <h2><span style="background-color: lightblue";><Font Size="6" Color="red"><b>Genres Available:</b></Font></span></h2>
            <ul>
                <li><Font Size="5"><i>Pop</i></Font></li>
                <li><Font Size="5"><i>Classical</i></Font></li>
                <li><Font Size="5"><i>Rock</i></Font></li>
                <li><Font Size="5"><i>Romantic</i></Font></li>
                <li><Font Size="5"><i>Soul</i></Font></li>
            </ul>
            <hr>
            <br>
            <!--Img-->
            <h2><span style="background-color: lightblue";><Font Size="6" Color="red"><b>Featured Artist</b></Font></span></h2>
            <img src="Arijit.webp" alt="Arijit Singh" width="300" height="300">
            <!--Table of Albums-->
            <h2><span style="background-color: lightblue";><Font Size="6" Color="red"><b>Top Albums</b></Font></span></h2>
            <table border="2">
                <tr align="center" style="background-color:aquamarine;">
                    <th width="150" height="50"><Font Size="5"><b>Album Name</b></Font></th>
                    <th width="150" height="50"><Font Size="5"><b>Artist</b></Font></th>
                    <th width="150" height="50"><Font Size="5"><b>Release Year</b></Font></th>
                    <th width="150" height="50"><Font Size="5"><b>Genre</b></Font></th>
                </tr>
                <tr align="center" style="background-color:aquamarine;">
                    <td width="150" height="50"><Font Size="5"><i>Love Aaj Kal</i></Font></td>
                    <td width="150" height="50"><Font Size="5"><i>Arijit Singh</i></Font></td>
                    <td width="150" height="50"><Font Size="5"><i>2020</i></Font></td>
                    <td width="150" height="50"><Font Size="5"><i>Romantic</i></Font></td>
                </tr>
                <tr align="center" style="background-color:aquamarine;">
                    <td width="150" height="50"><Font Size="5"><i>Rockstar</i></Font></td>
                    <td width="150" height="50"><Font Size="5"><i>Mohit Chauhan</i></Font></td>
                    <td width="150" height="50"><Font Size="5"><i>2011</i></Font></td>
                    <td width="150" height="50"><Font Size="5"><i>Rock</i></Font></td>
                </tr>
                <tr align="center" style="background-color:aquamarine;">
                    <td width="150" height="50"><Font Size="5"><i>Kalank</i></Font></td>
                    <td width="150" height="50"><Font Size="5"><i>Shilpa Rao</i></Font></td>
                    <td width="150" height="50"><Font Size="5"><i>2019</i></Font></td>
                    <td width="150" height="50"><Font Size="5"><i>Soul</i></Font></td>
                </tr>
            </table>
            <!--Form-->
                <h2><span style="background-color: aquamarine";><Font Size="6" Color="red"><b>Tell your Favourite Song</b></Font></span></h2>
                    <form>
                <label for="name"><Font Size="5">Your Name:</Font></label><br>
                <input type="text" id="name" name="name" required><br><br>
                <label for="song"><Font Size="5">Favourite Song:</Font></label><br>
                <input type="text" id="song" name="song" required><br><br>
                <label for="artist"><Font Size="5">Artist:</Font></label><br>
                <input type="text" id="artist" name="artist" required><br><br>
                <label for="genre"><Font Size="5">Genre:</Font></label><br>
                <select id="genre" name="genre">
                    <option value="Pop">Pop</option>
                    <option value="Rock">Rock</option>
                    <option value="Soul">Soul</option>
                    <option value="Romatic">Romantic</option>
                    <option value="Other">Other</option>
                </select><br><br>
                <input type="submit" value="submit">
                <input type="reset" value="reset">
            </form>
            </body>
</html>
