<!DOCTYPE html>
<html>
    <head>
        <title> Music Records Portal</title>
        <link rel="stylesheet" type="text/css" href="style.css"> <!-- Linking an external file -->
        </head>
        <body>
            <h1>
                <div style="background-color:white;">
                    <marquee>Welcome to Music Records</marquee>
                </div>
            </h1>
            <hr>
            <br>

            <!--List of Top Artists-->

            <h2 style="background-color: lightcoral; color: whitesmoke;"><b>Top 5 Artists:</b></h2>
            <ol>
                <li><i>Arijit Singh</i></li>
                <li><i>Shreya Ghoshal</i></li>
                <li><i>Sonu Nigam</i></li>
                <li><i>Kishore Kumar</i></li>
                <li><i>Lata Mangheshkar</i></li>
            </ol>
            <a href="#albums-table" style="font-size: 2.5em;background-color: aquamarine; color: blue; text-decoration: underline; margin-left: 20em;">Go to Top Albums</a>
            <hr>
            <br>
            <h2 style="background-color: lightcoral; color: whitesmoke;"><b>Genres Available:</b></h2>
            <ul>
                <li><i>Pop</i></li>
                <li><i>Classical</i></li>
                <li><i>Rock</i></li>
                <li><i>Romantic</i></li>
                <li><i>Soul</i></li>
            </ul>
            <hr>
            <br>

            <!--Img-->
            <h2 style="background-color: lightcoral; color: whitesmoke;"><b>Featured Artist</b></h2>
            <div style="background-color: aquamarine; border: 2px solid yellow; display: flex; justify-content: center; align-items: center; border-radius: 5px;">
            <img src="Arijit.webp" alt="Arijit Singh" width="300" height="300" style="border-radius: 7px;">
            </div>


            <!--Table of Albums-->

            <h2 id="albums-table" style="background-color: lightblue; color: red;"><b>Top Albums</b></h2>
            <table>
                <tr style="background-color: pink;">
                    <th>Album Name</th>
                    <th>Artist</th>
                    <th>Release Year</th>
                    <th>Genre</th>
                </tr>
                    <td><i>Love Aaj Kal</i></td>
                    <td><i>Arijit Singh</i></td>
                    <td><i>2020</i></td>
                    <td><i>Romantic</i></td>
                </tr>
                    <td><i>Rockstar</i></td>
                    <td><i>Mohit Chauhan</i></td>
                    <td><i>2011</i></td>
                    <td><i>Rock</i></td>
                </tr>
                    <td><i>Kalank</i></td>
                    <td><i>Shilpa Rao</i></td>
                    <td><i>2019</i></td>
                    <td><i>Soul</i></td>
                </tr>
            </table>
        </body>
    </html>
